:root{
    --clr_back_header:#000;
    --clr_header:#8bb0de;
    --clr_back_nav:#878787;
    --clr_back_footer:var(--clr_back_nav);

}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100dvh;
    display:flex;
    flex-direction: column;
    font-family: system-ui, sans-serif;
}
header{
    background: var(--clr_back_header);
    color:var(--clr_header);
    height:4rem;
    padding: 1rem;
}

nav{
    display:flex;
    gap:.3rem;
    padding: .3rem 1rem;
    & .fill{
        flex-grow: 5;
    }
    background: var(--clr_back_nav);
    & a{
        text-decoration: none;
        font-weight: bold;
        color:white;
        border-radius: .2rem;
        padding: .2rem .3rem;
        background: #0003;
    }
    & a:hover{
        background: #0006;
    }
}
main{
    flex-grow: 5;
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding-top: 1rem;
}
footer{
    background: var(--clr_back_footer);
    display:grid;
    place-content: center;
    padding: 1rem;
}
dialog{
    width:100%;
    height:100%;
    background: #0005;
    padding: 1rem;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
dialog form{
    padding: 2rem;
    background: rgba(24, 24, 24, 0.151);
    width:100%;
    height:100%;
    display:grid;
    place-content: center;
}
summary{
    display:flex;
    width:100%;
    background: #0003;
    padding: .5rem;
}
.filler{
    flex-grow: 5;
}
.id {
    width: 40px;
    font-weight: bold;
}

.user {
    flex-grow: 1;
}

.level {
    font-weight: bold;
}
.realname {
    font-size: 130%;
    font-weight: bold;
}

.mail a{
    font-size: 80%;
    text-decoration: none;
}
details{
    background: #0001;
    width:50%;
    margin-left: auto;
    margin-right: auto;



}
details .userdetails{
    display:flex;
    & .user{
        flex-grow:unset;
    }
}
details .buttons{
    display:flex;
    gap:.5rem;
    justify-content: flex-end;
    padding: .5rem;
    & a{
        text-decoration: none;
        background: #0003;
        padding: .5rem;
        border-radius: .5rem;}
    & a:hover{
        background: #0005;
    }
}
.invalid{
    border:2px solid red;
}
:root {
    --formborder: rgb(0, 0, 0, .5);
    --formback: rgb(0, 0, 0, .1);
    --formlabelcolor: rgb(0, 0, 0, .6)
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding: .5rem;
    background: var(--formback);
    border-radius: .6rem;
}

input,
select,
textarea {
    font: 1.1rem system-ui;
    padding: 0.8rem;
    border: 1px solid var(--formborder);
    border-radius: .3rem;
    &:focus {
        outline: none;
        border: 1px solid var(--formborder);
    }
    &:invalid {
        border: 2px solid red;
    }
}


label {
    position: relative;
    top: .9rem;
    left: .5rem;
    font: .6rem system-ui;
    color: var(--formlabelcolor);
}

input[type="submit"],
input[type="button"],
button {
    margin-top: 1rem;
    margin-bottom: .6rem;
    padding: .5rem;
}